.container {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
}

.elegant-font {
    font-size: 3em;
    color: purple;
    font-family: 'Amatic SC', cursive;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background: #eee;
}

p,
h1 {
    margin: 15px;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}